<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @aeronafe.nome %>
</p>

<p>
  <strong>Numerotripulantes:</strong>
  <%= @aeronafe.numeroTripulantes %>
</p>

<p>
  <strong>Tamanho:</strong>
  <%= @aeronafe.tamanho %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @aeronafe.numero %>
</p>

<p>
  <strong>Chassi:</strong>
  <%= @aeronafe.chassi %>
</p>

<p>
  <strong>Quantidadehorasvoo:</strong>
  <%= @aeronafe.quantidadeHorasVoo %>
</p>

<p>
  <strong>Quantidademotor:</strong>
  <%= @aeronafe.quantidadeMotor %>
</p>

<%= link_to 'Edit', edit_aeronafe_path(@aeronafe) %> |
<%= link_to 'Back', aeronaves_path %>
